.game-canvas{
    max-width:700px;
    max-height:700px;
    display: inline-grid;
    overflow:scroll;
}

.creator-options{
    width:250px;
    padding: 10px;
    margin: 5px;
    float: right;
    color:white;
    border: 1px solid white;
    border-radius: 12px;
}

.spritesheet{
    margin-top: -260px;
}

.selectedSpritesheet{
    max-width:250px;
    max-height:700px;
    overflow:scroll;
}

.selectedTile{
    width: 50px;
    height: 50px;
    float:right;
}