<div class="content">

    <h1>Show a couple of wiki entries</h1>
    <p>Something like a searchbar perhaps</p>

    <div class="row">
        <div class="wiki-article">
            <h3>Shuura, The Shadow</h3>
            <img src="./app/images/shuura_portrait.png" onError = "this.src='./app/images/default.gif'"/>
            <p>
                Shuura is an immensily powerful Ancient that specialises in the art of shadow magic.
                He is a master of stealth and concealment and took part in the War of the Gods but dissapeard after the Rise of the Ancients.

                He is currently believed to be roaming the shadowed vale, looking for relics of the gods.
            </p>
        </div>

                <div class="wiki-article">
            <h3>Hashiera, the Ancient</h3>
            <img src="./app/images/hashiera_portrait.png" onError = "this.src='./app/images/default.gif'"/>
            <p>
                Hashiera is the first and best known Ancient. Her lust for battle and glory has led her to devestate battlefields.
                She is revered as a god by most warriors, however the other Ancient are not fond of her.
                Clashes between Hashiera and other Ancients happened frequently in the Rise of the Ancients, earning her the nickname 'Ancient Slayer Hashiera'.
            </p>
        </div>

                        <div class="wiki-article">
            <h3>Zeo, Son of the Sky</h3>
            <img src="./app/images/zeo_portrait.png" onError = "this.src='./app/images/default.gif'"/>
            <p>
                Zeo, named Son of the Sky due to his ability to fly and levitate whatever he touches. He reigns supreme from his Sky seat, floating above the city of Drakanar, the capital of the dragons.
                
            </p>
        </div>
    </div>
</div>